DB_HOST=localhost
DB_PORT=3306
DB_NAME=waterlift_solar
DB_USER=root
DB_PASS=mwalatvc
JWT_SECRET=change_this_secret_key_in_production
APP_ENV=development
APP_URL=http://localhost:8000
CORS_ORIGIN=http://localhost:5173
